*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  text-align: center;
}
h1{
  font-size: 100px;
  margin-bottom: 50px;
}
#increase{
  padding: 20px;
  background-color: green;
  margin: 20px;
  color: white;
}

#decrease{
  padding:20px;
  background-color: red;
  margin: 20px;
  color: white;
}

#reset{
  padding:20px;
  background-color: black;
  color: white;
  margin: 20px;
}

