*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

h1{
  font-size: 50px;
  color: white;

}

#box{
  height: 250px;
  width: 250px;
  margin: 50px;
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
}

button{
  padding:20px 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
}

button:active{
  background-color: green;
  scale: 0.90;
}