*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 75px;
  margin: 50px;
}

button{
  padding:15px 25px;
  background-color: red;
  color:black;
}

button:active{
  background-color: green;
  color:white;
  scale: 0.90;
}