*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  height:100%;
  width:100%;
}
 
@mixin img-style(){
  border-radius: 10px;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

main{
  height:100%;
  width:100%;
  background-color: black;
  color:white;
  display: grid;
  grid-template-columns:2fr 1fr 1fr 1fr ;
  grid-template-rows:3fr 2fr;
  grid-gap:10px;
  padding:10px;
  overflow: hidden;
  grid-template-areas: "left topRight topRight topRight"
                       "left center centerRight rightLast";


  .left{
    grid-area:left;
    background-image: url(https://images.unsplash.com/photo-1560718239-9fc177461a4b?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    @include img-style();  

    &:hover{
      transition:all ease 1s;
      cursor:pointer;

      .bottom{
        top:60%;
      }

    }

  }

  .topRight{
    grid-area:topRight;
    background-image: url(https://images.unsplash.com/photo-1775990694704-5005356b3e07?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    @include img-style();

    &:hover{
      transition:all ease 1s;
      cursor:pointer;

      .bottom{
        top:60%;
      }
    }
  }

  .center{
    grid-area:center;
    background-image: url(https://images.unsplash.com/photo-1624978478827-59c58ef74e6e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    @include img-style();

    &:hover{
      transition:all ease 1s;
      cursor:pointer;

      .bottom{
        top:60%;
      }
    }
    
  }

  .centerRight{
    grid-area:centerRight;
    background-image: url(https://images.unsplash.com/photo-1595184979141-090792f6b578?q=80&w=705&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    @include img-style();

    &:hover{
      transition:all ease 1s;
      cursor: pointer;

      .bottom{
        top:60%;
      }
    }
    
  }

  .rightLast{
    grid-area:rightLast;
    background-image: url(https://images.unsplash.com/photo-1686238349945-82074ce9f02f?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    @include img-style();

    &:hover{
      transition:all ease 1s;
      cursor:pointer;

      .bottom{
        top:60%;
      }
    }
  }

  .bottom{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background:linear-gradient(transparent,rgb(49, 48, 48));
    position:absolute;
    bottom:-40%;
    padding:10px;

  }
}